.container {
text-align: center;
}

h1, #schnarvus {
    font-size: 80px;
    font-family: monospace;
    font-weight: bold;
}

button {
    padding: 15px;
    border-style: hidden;
    background-color: #49be25;
    font-size: x-large;
    color: white;
    font-family: monospace;
    
}

button:hover {
    background-color: #489126;
}

img {
    align-content: center;
    padding-top: 50px;
    max-width: 500px;
}